/* Give your page a fun background color */
html {
  background-color: #fbd90640;
  /*background-image: linear-gradient(to bottom left, #ad00ff, #fbd906)*/
  ;
  height: 100%;
}

/* Make the header and footer a different color from the background */
header, footer {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}

/* Make your p tag a different color and italic */
p {
  color: #ad00ff;
  font-style: italic;
}

/* Put a border around your image */
#logo {
  background-color: #ad00ff;
  border: 4px solid #ad00ff;
  border-radius: 50%;
  margin: 5%;
  transform: rotate(-30deg);
}

/* Change thex font-family of your list */
#wrapper {
  display: flex;
}

#col-1 {
  float: left;
  width: 15%;
}

#col-2 {
  font-size: 20px;
  margin-left: 5%;
  padding-top: 5%;
}
